@import "./styles/bootstrap.css";
@import "./styles/bootstrap-grid.css";
@import "./styles/bootstrap-reboot.css";

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  color: #4d4d4d;
}

/* Landing page
*/
#landing {
  background: url(img/cover2.jpg) no-repeat center center;
  height: 100vh;
  background-size: cover;
}
.landing-text {
  text-align: center;
  padding-top: 10%;
}

/* Services page
*/
#benefits, #services {
  padding-top: 3%;
  padding-bottom: 3%;
}
.carousel-caption {
  top: 40%;
}
.carousel-item {
  opacity: .9;
}
.fa-hotel {
  color: #ae8ab5;
}
.fa-ship {
  color: #aeb9cd;
}
.fa-globe {
  color: #31cdfc;
}
.fa-plane {
  color: #13538c;
}
